@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

p {
  color: #555;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.line {
  border: 2px solid #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  >nav {
    display: none;
  }

  >i {
    color: #999;
    font-size: 25px;
  }
}

#hero {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  .tekstas {
    flex-basis: 60%;
    padding-left: 30px;

    >h3 {
      font-size: 16px;
      font-weight: 700;
      color: #FF3998;
    }

    h1 {
      font-size: 48px;
      color: #111;
      line-height: 58.09px;
      font-weight: 900;
    }


    >button {
      width: 188px;
      height: 75px;
      border-radius: 100px;
      border: 4px solid transparent;
      background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #FF3998, #FF3939, #FF8139, #39ff9f52) border-box;
      color: #111;
      font-size: 20px;
      font-weight: 600;
    }

  }

  .paveikslelis {
    position: relative;

    >figure {
      margin: 0;

      img {
        width: 175px;
        filter: drop-shadow(50px -34px 86px #ff3898a7) drop-shadow(-56px 53px 90px #ff92399b);

        position: absolute;
        right: -70px;
        top: -10px;

        overflow-x: hidden;
      }
    }
  }
}

#upsell {
  height: 323px;
  background-image: linear-gradient(60deg, #FF3998, #FF3939, #FF8139, #39ff9f52);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  >h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
  }
}

#press {

  display: grid;
  /* width: 400px; */
  grid-template: 50% 50% / 50% 50%;
  padding-top: 30px;



  >figure:first-child,
  figure:nth-child(5) {
    display: none;
  }
}

#showcase {
  padding: 30px;



  >h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #111;
  }

  >p>a {
    color: #555;
    font-weight: 500;
  }

  .cards {
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow-x: scroll;
  }

  >.cards>div {
    display: flex;
    flex-direction: column;

    >figure {
      margin: 0;

      >img {
        width: 100%;
      }
    }

    >div:nth-child(2) {
      width: 280px;
      background-color: #eee;
      padding: 15px;
    }

    >div>.second {
      >p {
        color: #111;
        font-size: 20px;
        font-weight: 500;
      }
    }

    >div>.last {
      >p {
        color: #777;
        font-size: 18px;
      }
    }

    >div>div {
      display: flex;
      justify-content: space-between;

      >p {
        margin: 0;
      }

      >img {
        padding-left: 50px;
      }

      >.orangeText {
        color: #FF8139;
        font-size: 12px;
        font-weight: 500;
      }

      >.topBid {
        color: #777;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

#footerUpsell {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 30px;
  margin-top: 50px;

  .paveikslelis2 {
    height: 100%;

    >figure {
      margin: 0;
      padding-right: 30px;

      >img {
        position: absolute;
        right: -50px;
        bottom: 0;
      }
    }
  }



  .tekstas2 {
    flex-basis: 60%;

    >h3 {
      font-size: 16px;
      font-weight: 700;
      color: #FF3998;
    }

    h1 {
      font-size: 56px;
      color: #111;
      line-height: 58.09px;
      font-weight: 900;
    }


    >button {
      width: 188px;
      height: 75px;
      border-radius: 100px;
      border: 4px solid transparent;
      background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #FF3998, #FF3939, #FF8139, #39ff9f52) border-box;
      color: #111;
      font-size: 20px;
      font-weight: 600;
    }
  }

}

footer {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;

  .firstPart {
    i {
      color: #555;
      padding-right: 10px;
    }
  }

  >div {
    display: flex;
    flex-direction: column;

    >.footerMenu {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;


      >div {
        width: 200px;


        h4 {
          font-size: 16px;
          font-weight: 700px;
          color: #555;
        }


        >ul {
          list-style: none;
          padding: 0px;

          >li>a {
            color: #555;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;
          }
        }
      }
    }
  }

  .end {
    p:last-of-type {
      display: none;
    }
  }
}

@media (min-width: 1000px) {



  header {
    >i {
      display: none;
    }

    >nav {
      display: unset;

      >ul {
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;

        >li>a {
          padding: 2px 5px;
          color: #555;
          text-decoration: none;
          font-size: 20px;
          font-weight: 400;
        }

        >li:last-of-type>a {
          color: #FF3998;
        }
      }
    }
  }

  #hero {
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
    padding-right: 70px;

    .tekstas {
      flex-basis: 40%;

      >h1 {
        font-size: 96px;
        line-height: 116.18px;
        margin: 0;
      }
    }

    .paveikslelis {
      >figure {
        img {
          width: 328px;
          position: unset;
          padding-right: 130px;
        }
      }
    }

  }

  #upsell {
    margin: 0 30px;
    border-radius: 20px;
  }

  #press {
    grid-template: 1fr / repeat(5, 1fr);
    column-gap: 10px;
    padding: 40px 30px;

    figure:nth-child(2) {
      display: none;
    }

    >figure:first-child,
    figure:nth-child(5) {
      display: unset;
    }
  }

  .line {
    margin: 0 30px;
  }

  #showcase {
    .cards {
      overflow-x: unset;

      >div>div:nth-child(2) {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

  }

  #footerUpsell {

    padding-bottom: 0px;


    .paveikslelis2 {


      >figure {
        margin-bottom: -2px;

        >img {
          padding-right: 170px;
          position: unset;
        }
      }
    }

    .tekstas2 {
      flex-basis: 40%;
    }
  }

  footer {
    div {
      flex-direction: row;
      justify-content: space-between;

      .footerMenu {
        padding: 0;
      }
    }

    .end {
      p:last-of-type {
        display: unset;
      }
    }
  }
}